<div>
  <div class="pop-up">
    <div class="pop-up-header">
      <div class="pop-up-title">Products</div>
      <button class="icon-btn" (click)="dialogRef.close()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="pop-up-body">
      <form name="form" (ngSubmit)="productForm.form.valid && submit()" #productForm="ngForm" novalidate>
        <div class="checkout-item-block">
          <div class="inline-form">
            <div class="form-group">
              <label>Product</label>
              <select class="form-control select" name="products" id="products">
                <option value="product1">Product 1</option>
                <option value="product2">Product 2</option>
              </select>
            </div>
            <div class="form-group form-amnt">
              <label>OTY</label>
              <input class="form-control" placeholder="Quantity" />
            </div>
            <div class="form-group">
              <label>Therapist Recommend</label>
              <select class="form-control select">
                <option value="Value 1">Therapist 1</option>
                <option value="Value 2">Therapist 2</option>
              </select>
            </div>
            <div>
              <button type="button" class="btn-default" (click)="addProduct()">Add</button>
            </div>
          </div>
          <div class="table-gen client-list">
            <div id="table-body">
              <div class="table-row">
                <div class="row" *ngFor="let product of products;let i=index">
                  <div> Happy End </div>
                  <div> 100 </div>
                  <div> 01 </div>
                  <div class="action-btns align-right">
                    <button class="icon-btn" (click)="removeProduct(i)">
                      <i class="material-icons">delete</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
