<div id="wrapper-content">

  <!-- start: filter section -->
  <div id="filter-section">
    <div class="form-group search">
      <i class="material-icons">search</i>
      <input type="search" class="form-control" />
    </div>

    <button type="button" class="btn-default" (click)="addNewClient()">Add new client</button>
  </div>

  <!-- start: table section -->
  <div class="table-gen client-list">

    <!-- start: table header -->
    <div class="table-header">

      <div class="row">
        <div>Name</div>
        <div>Address</div>
        <div>Mobile No</div>
        <div>E-mail</div>
        <div>Gender</div>
        <div>Profession</div>
        <div>Loyalty Card No</div>
        <div></div>
      </div>
    </div>
    <!-- end: table header -->

    <!-- start: table body -->
    <div id="table-body">
      <div class="table-row">
        <div class="row">
          <div>Suresh Chamara</div>
          <div>422/A, Nugegoda</div>
          <div>1125468946</div>
          <div>sureshbpro@bpro.com</div>
          <div>Male</div>
          <div>Engineer</div>
          <div>112356448789</div>
          <div class="action-btns align-right">
            <button class="icon-btn">
              <i class="material-icons">edit</i>
            </button>
            <button class="icon-btn">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <!-- end: table body -->

  </div>
  <!-- end: table section -->

</div>
