<div class="schd-blc-usr">
  <div class="schd-blc-usr-img">
    <img src="../../../assets/img/user.png" alt="">
  </div>
  <div class="schd-blc-usr-name">
    {{scheduleResponse.employeeName}}
    <span>{{scheduleResponse.designation}}</span>
  </div>
</div>
<div class="schd-blc-tl">
  <ng-container *ngFor="let schedule of scheduleResponse">
    <ng-container *ngFor="let timeIndex of schedule.timeIndexes">

      <div *ngIf="timeIndex === 'start'" class="bk-seg bk-seg-type">
        <div class="bk-seg-client">{{schedule.clientName}}</div>
        <div class="bk-seg-trt">{{schedule.treatmentType}}</div>
        <div class="bk-seg-status">{{schedule.scheduleStatus}}</div>
      </div>

      <div *ngIf="timeIndex === 'start'" class="tl-gap-hr">
      </div>
    </ng-container>
  </ng-container>


  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
  <div class="tl-gap-hr">
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
    <div class="tl-gap-seg"></div>
  </div>
</div>
