<div class="schd-blc-usr">
  <div class="schd-blc-usr-img">
    <img src="../../../assets/img/user.png" alt="">
  </div>
  <div class="schd-blc-usr-name">
    {{scheduleResponse.employeeName}}
    <span>{{scheduleResponse.designation}}</span>
  </div>
</div>
<div class="schd-blc-tl">
  <ng-container *ngFor="let timeIndex of scheduleResponse.timeIndexes; index as i">
    <!-- in every six hour when (i%6)===0 thick hour line should appeared css -->
    <div class="tl-gap-hr">
      <ng-container *ngIf="timeIndex != 'default'">
        <div class="bk-seg bk-seg-type">
          <ng-container *ngFor="let schedule of scheduleResponse.schedules">
            <ng-container *ngIf="i === schedule.startIndex">
              <div class="bk-seg-client">{{schedule.clientName}}</div>
              <div class="bk-seg-trt">{{schedule.treatmentType}}</div>
              <div class="bk-seg-status">{{schedule.scheduleStatus}}</div>
            </ng-container>

          </ng-container>
        </div>
      </ng-container>
      <div class="tl-gap-seg"></div>
    </div>
  </ng-container>
</div>
