<div id="wrapper-content">

  <!-- start: filter section -->
  <div id="filter-section">
    <div class="form-group">
      <select class="form-control select">
        <option value="Value 1">Select department</option>
        <option value="Value 2">Salon care</option>
        <option value="Value 3">Spa care</option>
      </select>
    </div>
  </div>

  <div class="time-lapse">
    <div class="time-intvl">8am</div>
    <div class="time-intvl">9am</div>
    <div class="time-intvl">10am</div>
    <div class="time-intvl">11am</div>
    <div class="time-intvl">12am</div>
    <div class="time-intvl">1pm</div>
    <div class="time-intvl">2pm</div>
    <div class="time-intvl">3pm</div>
    <div class="time-intvl">4pm</div>
    <div class="time-intvl">5pm</div>
    <div class="time-intvl">6pm</div>
  </div>

  <div class="schd-container">
    <div class="schd-grid">
      <div class="schd-blc" *ngFor="let response of scheduleResponseList">
        <app-scheduler-item [scheduleResponse]="response"></app-scheduler-item>

      </div>
    </div>
  </div>
</div>