<div class="pop-up-bg">

  <div class="pop-up" style="width: 700px;">
    <div class="pop-up-header">
      <div class="pop-up-title">New Appointment</div>
      <button class="icon-btn">
        <i class="material-icons" (click)="cancel()">close</i>
      </button>
    </div>
    <div class="pop-up-body">

      <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>

        <div class="form-group">

          <div class="ng-autocomplete">

            <ng-autocomplete [data]="customers" [searchKeyword]="keyword" historyIdentifier="customers"
              placeHolder="Enter Customer Name" (selected)='selectCustomerEvent($event)' [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.fullName"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div *ngIf="f.submitted && isCustomerNotSelected">
              <div>Customer Name is required</div>
            </div>

          </div>

        </div>

        <div class="add-appointment-blc">

          <div class="inline-form">

            <div class="form-group">
              <label>Department</label>
              <select class="form-control select" (change)="onDepartmentChange($event)">
                <option value="" disabled selected>Select departmnet</option>
                <option value="{{department.departmentId}}" *ngFor="let department of departments">{{department.name}}
                </option>
              </select>

              <div *ngIf="f.submitted && isDepartmentNotSelected">
                <div>Department Id is required</div>
              </div>

            </div>

            <div class="form-group">

              <div class="ng-autocomplete">

                <ng-autocomplete #autoTreatment [data]="treatmentList" [searchKeyword]="keywordTreatment"
                  historyIdentifier="treatmentList" placeHolder="Enter Treatment Name"
                  (selected)='selectTreatmentEvent($event)' [itemTemplate]="itemTemplate1"
                  [notFoundTemplate]="notFoundTemplate1">
                </ng-autocomplete>

                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.ttname"></a>
                </ng-template>

                <ng-template #notFoundTemplate1 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <div *ngIf="f.submitted && isTreatmentNotSelected">
                  <div>Treatment is required</div>
                </div>

              </div>

            </div>

            <div class="form-group">

              <div class="ng-autocomplete">

                <ng-autocomplete #auto [data]="employeesList" [searchKeyword]="keywordEmployee"
                  placeHolder="Enter Employee Name" (selected)='selectEmployeeEvent($event)'
                  [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate2">
                </ng-autocomplete>

                <ng-template #itemTemplate2 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate2 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <div *ngIf="f.submitted && isEmployeeNotSelected">
                  <div>Employee Name is required</div>
                </div>

              </div>

            </div>

          </div>

          <div class="inline-form">

            <div class="form-group">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)"
                  placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div *ngIf="f.submitted && isDateNotSelected">
                <div>Appoinment Date is required</div>
              </div>

            </div>

            <!-- <div class="form-group">
              <label>Start time</label>
              <div class="24hr-example">
                <mat-form-field>
                  <input matInput placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime"
                    [format]="24" readonly>
                  <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                </mat-form-field>
              </div>
            </div> -->

            <div class="form-group">
              <label>Start Time</label>
              <material-timepicker color="primary" label="Hour 2" appearance="fill" [userTime]="exportTime"
                (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>

              <div *ngIf="f.submitted && isStartTimeNotSelected">
                <div>Appoinment Start Time is required</div>
              </div>

            </div>

            <div class="form-group">
              <label>End Time</label>
              <material-timepicker color="primary" label="Hour 2" appearance="fill" [userTime]="exportEndTime"
                (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
            </div>

          </div>
        </div>

        <button type="button" class="btn-default">Add Another Appointment</button>

        <div class="pop-up-btns">
          <button type="button" class="btn-primary" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn-default">Save Appointment</button>
        </div>

      </form>

    </div>

  </div>

</div>