<div id="wrapper-content">

  <!-- start: filter section -->
  <div id="filter-section">
    <div class="form-group">
      <!-- //auto complete here -->
      <!-- <select class="form-control select">
        <option value="" disabled selected>Select departmnet</option>
        <option value="{{department}}" *ngFor="let department of departmentList">{{department}}
        </option>
      </select> -->
    </div>

  </div>

  <!-- start: table section -->
  <div class="table-gen appointment-list">
      <div class="appointment-main">
        <div class="client-name">Jane Doe</div>
        <div class="appointment-date">Tuesday, 8th Oct 2019</div>
      </div>
      <div class="checkout-item-block">
        <div class="checkout-item">
          <div class="chekout-items-quntity">1</div>
          <div class="treatment-title">
            <div class="treatment-name">Haircut</div>
            <div class="treatment-details">
              1h 40min with suresh Chamara
            </div>
          </div>
          <div class="treatment-amount">LKR 500.00</div>
          <div class="chekout-items-remove">
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="inline-form">
          <div class="form-group">
            <label>Quantity</label>
            <input class="form-control" placeholder="Quantity" />
          </div>
          <div class="form-group form-amnt">
            <label>Price</label>
            <span class="form-prefix">LKR</span>
            <input class="form-control" placeholder="0.00" />
          </div>
          <div class="form-group">
            <label>Therapist</label>
            <select class="form-control select">
              <option value="Value 1">Therapist 1</option>
              <option value="Value 2">Therapist 2</option>
            </select>
          </div>
        </div>
      </div>

      <div class="checkout-item-block">
        <div class="checkout-item">
          <div class="chekout-items-quntity">1</div>
          <div class="treatment-title">
            <div class="treatment-name">Haircut</div>
            <div class="treatment-details">
              1h 40min with suresh Chamara
            </div>
          </div>
          <div class="treatment-amount">LKR 500.00</div>
          <div class="chekout-items-remove">
            <i class="material-icons">close</i>
          </div>
        </div>
      </div>

      <div class="inline-form">
        <button type="button" class="btn-default">Add treatment</button>
        <button type="button" class="btn-dark">Add product</button>
      </div>

      <div class="checkout-total">
        <div class="checkout-total-row">
          <div class="total-label">Total</div>
          <div class="total-amount">LKR 625.00</div>
        </div>
        <div class="checkout-total-row">
          <div class="total-label">Total</div>
          <div class="form-group form-amnt">
            <span class="form-prefix">LKR</span>
            <input class="form-control" placeholder="0.00" />
          </div>
        </div>
      </div>

      <div class="appointment-total spc-pd">
        <div class="total-label">Total amount payable</div>
        <div class="total-amount">LKR 500.00</div>
      </div>
    </div>
    <div class="pop-up-btns">
      <button class="btn-default w-100">Complete Sale</button>
    </div>
  </div>
