<header>
  <div class="logo">
    {{companyName}}
  </div>

  <div class="header-main">

    <div class="title">{{module | titlecase}}</div>

    <div class="header-right">

      <div class="logged-in-user">
        <img class="icon" src="../../../../assets/img/user-icon.png" alt="user-icon">
        <div class="username">
          <span>welcome</span><br>
          Admin user
        </div>
      </div>

      <button type="button" class="btn-link logout">Logout</button>

    </div>

  </div>
</header>
