$ms-base: 1em;
$ms-ratio: 1.125;

$primary-color: #41b6e6;
$secondary-color: #263039;

$black: #000;
$white: #fff;
$orange: #ff9c1d;

$font-color: #253858;
$menu-font-color: #091e42;

$title-section-bg: #e8f1f9;
$table-row-hover-bg: #f5f6f8;
$table-footer-bg: #ecf1fb;

$border-color: #e7e7e7;

$btn-bg-color: #5f7990;

/* ***************** */

$color-1: #2e3854;
$color-2: #311dd2;